.introduce_container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.slogan {
  font-size: 40px;
  width: 200px;
  position: absolute;
  left: 45%;
  top: 10%;
  color: black;
  font-weight: bold;
}

.sub_slogan {
  position: absolute;
  left: 41%;
  top: 40%;
  color: black;
}

.btn_login {
  position: absolute;
  left: 47%;
  top: 50%;
  height: 70px;
  width: 35px;
}

.link_create_account {
  position: absolute;
  left: 45%;
  top: 56%;
  color: black;
  text-decoration: underline;
}

.link_create_account:hover {
  color: rgb(142, 130, 116);
}
